{% extends 'base.html.twig' %}

{% block title %}Precious index{% endblock %}

{% block body %}
    <h1>Precious index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for preciou in preciouses %}
            <tr>
                <td>{{ preciou.id }}</td>
                <td>{{ preciou.name }}</td>
                <td>{{ preciou.description }}</td>
                <td>{{ preciou.picture }}</td>
                <td>
                    <a href="{{ path('app_precious_show', {'id': preciou.id}) }}">show</a>
                    <a href="{{ path('app_precious_edit', {'id': preciou.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_precious_new') }}">Create new</a>
{% endblock %}
